---
import Heading from "./Heading.astro";
---

<section class="bg-[#e7e7e7]" id="ueber-mich">
  <div class="container pb-32 pt-52">
    <div class="grid grid-cols-2 gap-8">
      <div>
        <Heading title="Meine politische Arbeit" pre="Über mich" />
        <div class="space-y-1">
          <p class="mt-6">
            Ich habe mich schon immer für zwischenmenschliche Diskurse und
            sachliche Debatten stark gemacht, um positive Veränderungen
            herbeizuführen.
          </p>
          <p>
            Bereits in der Schule war ich als Schülersprecher aktiv und
            unternahm alles, um die Interessen der Schülerschaft konstruktiv
            voranzutreiben.

            <p>
              Seit 2021 bin ich Mitglied der CDU-Saale-Orla und arbeite proaktiv
              für die Belange unseres schönen Landkreises.
            </p>
            <p>
              Neben meiner Arbeit in verschiedenen Vereinen in der Region bin
              ich seit 2023 als stellvertretender Kreisvorsitzender der Jungen
              Union Saale-Orla aktiv. Dabei versuche ich den Jugendlichen
              verschiedene politische Weiterbildungsangebote zu machen und die
              junge Gemeinschaft in unserer Heimat zu stärken.
            </p>
          </p>
        </div>
      </div>
      <div>
        <Heading title="Mein Werdegang" pre="" />
        <p class="mt-6">
          Ich bin geboren am 24. Mai 1992 in Friedrichroda. Von meiner
          Konfession bin ich Christlich-evangelisch. Ich bin verheiratet und
          wohne in Gefell. Seit 2020 bin ich Offizier bei der Deutschen
          Luftwaffe.
        </p>
        <ul class="pl-6 mt-4 space-y-2 text-lg list-disc">
          <li>
            Seit 2020 Offizier beim Flugabwehrraketendienst der Luftwaffe.
          </li>
          <li>
            2019 Ausbildung zum Feuerleitoffizier am Waffensystem PATRIOT in
            Texas/USA.
          </li>
          <li>
            2016-2018 Masterstudium mit Schwerpunkt Erwachsenenbildung,
            Personalentwicklung und interkulturellem Konfliktmanagement.
          </li>
          <li>
            2014-2016 Bachelorstudium der Bildungswissenschaften an der
            Universität der Bundeswehr München.
          </li>
          <li>
            2013 Offizierslehrgang an der Offizierschule der Luftwaffe
            Fürstenfeldbruck.
          </li>
          <li>2012 Abitur am Sportgymnasium Jena.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
