---
import Heading from "./Heading.astro";
import { Image } from "astro:assets";
import image from "@/images/person/contact.jpg";
---

<section class="bg-[#e7e7e7]" id="kontakt">
  <div class="container py-32">
    <div class="max-w-lg">
      <Heading title="Nehmen Sie mit Steve Werner Kontakt auf!" pre="Kontakt" />
    </div>
    <div class="grid grid-cols-2 gap-8">
      <div>
        <p class="mt-7">Ich freue mich auf Ihre Kontaktaufnahme.</p>
        <p class="mt-2">
          Info: Am
          <b>26. Mai 2024 ist Kreistagswahl</b>. <br />Ich stehe auf Liste 1
          Listenplatz 25. <br />
          Über alle drei Stimmen würde ich mich sehr freuen.
        </p>
      </div>
      <div class="mt-7">
        <p>
          Telefon: <b>1234</b>
        </p>
        <p>
          E-Mail: <b>kontakt@steve-werner.com</b>
        </p>
      </div>
    </div>
    <div class="pt-12">
      <div class="grid grid-cols-2 gap-8">
        <div>
          <h3
            class="inline p-0.5 px-2 mt-4 text-xl leading-tight bg-white box-decoration-clone text-light bg-clip-border"
          >
            Leidenschaften
          </h3>
          <p class="mt-3">Bin ich nicht am arbeiten findet man mich hier:</p>
          <ul class="pl-6 space-y-0.5 mt-1 text-sm list-disc">
            <li>
              Passionierter Jungjäger und Mitglied in der Jägerschaft Lobenstein
            </li>
            <li>
              Aktives Mitglied in der Einsatzabteilung der Freiwilligen
              Feuerwehr Gefell sowie Mitglied im Feuerwehrverein Gefell e.V.
            </li>
            <li>Naturliebhaber. Outdoorsportler (Joggen/Mountainbiken)</li>
            <li>Hobby-Landwirt</li>
            <li>
              Motorflugbegeistert – Privatpilot für einmotorige
              Propellermaschinen
            </li>
            <li>Angeln in meiner Freizeit</li>
          </ul>
        </div>
        <div>
          <Image
            class="rounded-lg"
            src={image}
            alt="Steve Werner bei der Feuerwehr"
          />
        </div>
      </div>
    </div>
  </div>
</section>
