---
import Logo from "@/components/Logo.astro";
import menu from "@/config/menu.json";

const { footer }: { footer: { name: string; url: string }[] } = menu;

const year = new Date().getFullYear();
---

<footer class="bg-dark">
  <div class="container">
    <div
      class="flex flex-wrap items-center justify-center py-10 md:flex-nowrap md:justify-between"
    >
      <div class="mb-8 text-center lg:col-3 lg:mb-0 lg:text-left">
        <Logo />
      </div>
      <div class="mb-8 text-center text-white lg:col-6 lg:mb-0">
        <ul>
          {
            footer.map((menu) => (
              <li class="inline-block m-3">
                <a class="hover:underline" href={menu.url}>
                  {menu.name}
                </a>
              </li>
            ))
          }
          <li class="inline-block m-3">
            &copy; {year} Steve Werner
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
