---
import { Image } from "astro:assets";
import image0 from "@/images/person/header2.jpg";
import Votes from "./Votes.astro";
import Slider from "./Slider.astro";
---

<section>
  <div
    class="relative pt-16 pb-12 bg-no-repeat md:pt-32 md:pb-0 bg-primary"
    style="background-image: url('/images/lines.svg'); background-position: 100% 100%; background-size: 60%;"
  >
    <div class="container relative mx-auto">
      <div class="flex items-center justify-center">
        <div class="grid grid-cols-12 gap-8">
          <div class="flex items-center col-span-12 md:pb-10 md:col-span-6">
            <div class="">
              <div class="flex flex-col-reverse pt-14">
                <div>
                  <h1
                    class="inline p-0.5 px-3 mt-4 text-5xl leading-tight bg-white box-decoration-clone text-light bg-clip-border"
                  >
                    Der Saale-Orla-Kreis kann mehr!
                  </h1>
                </div>
                <div class="pb-2">
                  <h2
                    class="inline p-0.5 px-2 text-xl font-bold tracking-wide text-white uppercase box-decoration-clone bg-dark"
                  >
                    Steve Werner
                  </h2>
                </div>
              </div>
              <div class="relative mt-6 md:hidden">
                <Image
                  class="rounded-xl"
                  src={image0}
                  width={418 * 2}
                  alt="Stever Werner im Anzug"
                />
                <div class="absolute bottom-10 right-10">
                  <Votes />
                </div>
              </div>
              <p class="mt-8 text-lg font-medium text-white">
                Der Saale-Orla-Kreis kann mehr! Als ihr künftiges
                Kreistagsmitglied will ich diesen wunderschönen Landkreis mit
                vorwärtsentwickeln.
                <div class="hidden -my-4 transform scale-75 md:block">
                  <Votes />
                </div>
              </p>
              <div class="mt-4 md:mt-0">
                <b
                  class="inline px-2 py-1 leading-none bg-secondary text-dark box-decoration-clone"
                >
                  Kreistagswahl am 26. Mai 2024: Liste 3 Listenplatz 25: <br />
                  Alle drei Stimmen für Steve Werner
                </b>
              </div>
            </div>
          </div>
          <div class="relative z-10 hidden col-span-12 md:col-span-6 md:block">
            <Slider />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
