---
import { Image } from "astro:assets";
import image0 from "@/images/person/header2.jpg";
import image1 from "@/images/person/feuerwehr.jpg";
import image2 from "@/images/person/bike.jpg";
import image3 from "@/images/person/jaeger.jpg";
import image4 from "@/images/person/traktor.jpg";
import image5 from "@/images/person/kuh.jpg";

const all = [image0, image1, image2, image3, image4, image5];
let img = all[1];
// setTimeout(() => {
//   img = all[(all.indexOf(img) + 1) % all.length];
// }, 5000);
---

<section>
  <div
    class="relative pt-16 pb-12 bg-no-repeat md:pt-32 md:pb-0 bg-primary"
    style="background-image: url('/images/lines.svg'); background-position: 100% 100%; background-size: 60%;"
  >
    <div class="container relative mx-auto">
      <div class="flex items-center justify-center">
        <div class="grid grid-cols-12 gap-8">
          <div class="flex items-center col-span-12 md:col-span-6">
            <div class="md:pb-48">
              <div class="flex flex-col-reverse pt-14">
                <div>
                  <h1
                    class="inline p-0.5 px-3 mt-4 text-5xl leading-tight bg-white box-decoration-clone text-light bg-clip-border"
                  >
                    Der Saale-Orla-Kreis kann mehr!
                  </h1>
                </div>
                <div class="pb-2">
                  <h2
                    class="inline p-0.5 px-2 text-xl font-bold tracking-wide text-white uppercase box-decoration-clone bg-dark"
                  >
                    Steve Werner
                  </h2>
                </div>
              </div>
              <p class="mt-8 text-lg font-medium text-white">
                Der Saale-Orla-Kreis kann mehr! Als ihr künftiges
                Kreistagsmitglied will ich diesen wunderschönen Landkreis mit
                vorwärtsentwickeln. <br />
                <br />
                <b
                  class="inline px-2 py-1 leading-none bg-secondary text-dark box-decoration-clone"
                >
                  Kreistagswahl am 26. Mai 2024: Liste 3 Listenplatz 25: Alle
                  drei Stimmen für Steve Werner
                </b>
              </p>
            </div>
          </div>
          <div class="relative z-10 col-span-12 md:col-span-6">
            <div class="w-full h-full md:absolute aspect-[836/1029]">
              <div
                x-data="{active: 0}"
                x-init="setInterval(() => { active = (active + 1) % 6 }, 7000)"
                class="flex items-center relative w-full rounded-xl aspect-[836/1029] overflow-hidden"
              >
                {
                  all.map((i, index) => (
                    <Image
                      class="absolute z-10 w-full duration-1000 ease-linear transform aspect-[836/1029] object-cover object-center"
                      x-show={`active == ${index}`}
                      x-transition:enter-start="translate-x-full"
                      x-transition:enter-end="translate-x-0"
                      x-transition:leave-start="translate-x-0"
                      x-transition:leave-end="-translate-x-full"
                      src={i}
                      width={418 * 2}
                      alt=""
                    />
                  ))
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
