---

---

<div class="flex items-center">
  <a href="/" class="flex overflow-hidden border-2 border-secondary lg:rounded">
    <img
      src="/images/cdu-animated.gif"
      alt="CDU Logo"
      class="h-10 leading-none"
    />
    <div class="flex items-center justify-center bg-secondary">
      <div
        class="px-4 font-bold leading-none tracking-wide text-left font-heading"
      >
        Steve<br />Werner
      </div>
    </div>
  </a>
</div>
