---

---

<div class="flex items-center">
  <a href="/" class="flex overflow-hidden md:rounded border-[#f9b31d] border-2">
    <img src="/images/cdu-animated.gif" alt="CDU Logo" class="h-10" />
    <div class="flex items-center justify-center bg-[#f9b31d]">
      <div class="px-4 font-bold leading-none tracking-wide text-left">
        Steve<br />Werner
      </div>
    </div>
  </a>
</div>
