---
import image0 from "@/images/person/slideshow.jpg";
import image1 from "@/images/person/feuerwehr.jpg";
import image2 from "@/images/person/bike.jpg";
import image3 from "@/images/person/jaeger.jpg";
import image4 from "@/images/person/traktor.jpg";
import image5 from "@/images/person/kuh.jpg";
import { Image } from "astro:assets";

const items: [ImageMetadata, string][] = [
  [
    image0,
    "Gutes tun! Meine monatliche Aufwandsentschädigung wird einem wohltätigen Zweck im Landkreis gespendet!",
  ],
  [image1, "Volle Rückendeckung für das Ehrenamt!"],
  [image2, "Startklar für den Kreistag!"],
  [image3, "Jäger schützen unsere Natur!"],
  [
    image4,
    "Einer von Euch! Unsere Landwirte respektieren und nachhaltig fördern!",
  ],
  [image5, "Bauern denken nicht in Wahlperioden, sondern in Generationen!"],
];
---

<div class="w-full h-full md:absolute aspect-[836/1029]">
  <div
    x-data="{active: 0}"
    x-init="setInterval(() => { active = (active + 1) % 6 }, 7000)"
    class="flex items-center relative w-full rounded-xl aspect-[836/1029] overflow-hidden"
  >
    {
      items.map((i, index) => (
        <div
          class="absolute z-10 w-full duration-1000 ease-linear transform "
          x-show={`active == ${index}`}
          x-transition:enter-start="translate-x-full"
          x-transition:enter-end="translate-x-0"
          x-transition:leave-start="translate-x-0"
          x-transition:leave-end="-translate-x-full"
        >
          <Image
            class="aspect-[836/1029] object-cover object-center"
            src={i[0]}
            width={418 * 2}
            alt=""
          />
          <div class="absolute bottom-0 block w-full px-2 py-1 font-bold text-center text-dark bg-secondary">
            {i[1]}
          </div>
        </div>
      ))
    }
  </div>
</div>
